@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Oswald:wght@200..700&display=swap");

body {
  font-family: "Oswald", sans-serif !important;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
}
